.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
*.iml
android/.gradle/
android/build/
android/captures/
*.lock
pubspec.lock
*.log
.DS_Store
Thumbs.db
flutter/
flutter_temp/
cmake.zip
ninja.zip
jdk.zip
jdk_extracted/
jdk_temp/
build.ps1
build.bat
nul
.flutter-plugins-dependencies
